body{
    padding: 0px;
    margin: 0px;
    font-family: Poppins-Regular,sans-serif;
    background-color: #f2f2f2;

}
/*
   Deixando responsivo 
*/
#conteudo-principal{
    width: 375px;
    max-width: 100vw;
    margin: 10% auto;
    border: 1px solid red;
}

#div-form{
    width: 100%;
    max-width: 100vw;
    text-align: center;
    padding: 15px;
    border: 1px solid red;
    box-sizing: border-box;
}

/*         FIM          */


/*          Personalizando Titulo
*/
.titulo-form{
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}
/*        FIM            */


/*          Personalizando Input
*/
.input-form{
    margin-top: 15px;
    box-sizing: border-box;
}

.input-form input{
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    font-size: 1.1rem;
    border: none;
    box-sizing: border-box;
}
/*      FIM */


/*      Personalizando Button */
#button-lg{
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    background-color: blueviolet;
    color: white;
    box-sizing: border-box;
}

#fz-cadastro{
    margin-top: 150px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

